body{
  font-family: Montserrat, Roboto, Arial;
  left:0;
}

.camera_controlls{
  position: absolute;
  justify-content: space-around;
  padding-bottom: 2rem;
  bottom: 0rem;
  right: 0;
  z-index: 1000000;
  display: flex;
  width: 100%;
  flex-direction: row;
  background: linear-gradient(120deg, #F0B67F 0%, #C7EFCF 100%)
}

.camera_remove_link{
  margin: 0px auto;
  z-index: 1000000;
}

.camera_controlls_link_back{
  width: 5rem;
  height: 5rem;
  cursor: pointer;
  background-color: var(--main_accent_color);
  color: #ffffff;
  margin: 0px auto;
  margin-top: 1rem; 
  font-size: 1rem;
  border-radius: 100px;
}

.camera_controlls_container{
  display: flex;
  flex-direction: column;
}

.camera_controlls_container_snapshot{
  width: 20rem;
  height: 3rem;
  cursor: pointer;
  background-color: var(--main_accent_color);
  color: #ffffff;
  margin: 0px auto;
  margin-top: 1rem; 
  font-size: 1rem;
  text-transform: uppercase;
}

.wrapper{
  position: absolute;
  bottom: 10rem;
  display: flex;
  justify-content: space-around;
  width: 100%;
  overflow: hidden;
  height:0%;
  z-index: 10000000;
  transition: height 0.5s ease-out;
}

.camera_preview{
  overflow: hidden;
  position: absolute;
  border-radius: 5px;
  margin: 0px auto;
  width: 60%;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  background: var(--main_bg_color);
  color: #ffffff;
  font-size: 1rem;
  align-items: center;
  justify-content: space-around;
}

.camera_preview_controlls{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding-bottom: 1rem;
}

.camera_preview_controlls_link_btn{
  text-transform: uppercase;
  width: 20rem;
  height: 3rem;
  cursor: pointer;
  background-color: var(--main_accent_color);
  color: #ffffff;
  margin: 0px auto;
  margin-top: 1rem; 
  font-size: 1rem;
}

.camera_preview_controlls_close{
  width: 10rem;
  text-transform: uppercase;
  height: 2rem;
  font-size: 0.6rem;
  margin: 0px auto;
  margin-top: 2rem; 
  background-color: var(--main_accent_color);
  color: #ffffff;
}

.camera_preview_image{
  max-width: 90%;
  
}


@media(max-width: 700px){

  .camera_preview{
    width: 100%;
  }

  .wrapper{
    right: 0;
  }
}