

.tga_confirm{
  height: 100vh;
  position: absolute;
  display: flex;
  
  
  z-index: 10000;
  width: 100vw;
  background: linear-gradient(120deg, #F0B67F 0%, #C7EFCF 100%);
}

.tga_confirm_wrapper {
  margin: 0px auto;
  top: 30%;
  
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  
  z-index: 1000;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  background: var(--main_bg_color);
  border: solid 1px var(--main_accent_color);
  border-radius: 5px;
  color: #ffffff;
  font-family: Roboto, Arial;
  display: none;
}

.tga_confirm_text {
  font-size: 1.5rem;
  text-align: center
}

.tga_confirm_controlls{
  display: flex;
  width: 100%;
  align-content: space-around;
  margin-top: 1rem;
}

.tga_confirm_controlls_btn {
  width: 8rem;
  height: 3rem;
  cursor: pointer;
  background-color: var(--main_bg_color);
  color: #ffffff;
  border: solid 1px var(--main_accent_color);
  margin: 0px auto;
  margin-top: 1rem; 
  font-size: 1rem;
}

.tga_correct_controlls_btn{
  width: 8rem;
  font-size: 1rem;
  height: 3rem;
  cursor: pointer;
  background-color: var(--main_bg_color);
  color: #ffffff;
  border: solid 1px var(--main_accent_color);
  margin: 0px auto;
  margin-top: 1rem; 
}