html, body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

.tga {
  background-color: rgb(192, 189, 189);
  margin: 0;
}

.tga_content {
  height: 100vh;
  width: 100%;
}

.tga_content_map {
  height: 100%;
  margin: 0px, auto
}

.gm-style .gm-style-iw {
  left: 0 !important;
} 

.tga_content_btn{
  position: absolute;
  z-index: 100000000;
  left: 1rem;
  bottom: 1rem;
}

.tga_content_btn button {
  width: 100%;
  height: 3rem;
  cursor: pointer;
  background-color: var(--main_accent_color);
  color: #ffffff;
  border-radius: 200px;
  text-transform: uppercase;
  margin: 0px auto;
  margin-top: 1rem; 
  font-size: 1rem;
}


