body{
  background: linear-gradient(234deg, #c7efcf, #f0b67f);
  background-size: 200% 200%;  
  -webkit-animation: AnimationName 11s ease infinite;
  -moz-animation: AnimationName 11s ease infinite;
  animation: AnimationName 11s ease infinite;
  height: 100vh;
  margin: 0px;
  color: #FFFFFF;
  font-family: Montserrat, Roboto, Arial;
  font-size: 1.5rem;
}

.tutorial{
  background-color: rgba(red, green, blue, 0);
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.tutorial_finish{
  z-index: 1000000;
}

.tutorial_step{
  background-color: rgba(red, green, blue, 0);
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-items: center;
  justify-content: center;
  transition: left 0.5s ease-out;
  text-align: center;
}

.tutorial_step_header{
  margin-bottom: 2rem;
  font-size: 2rem;
  text-transform: uppercase;
}

img{
  width: 176px; 
  height:197px
}

@media (max-width: 330px){
  #headline {
    font-size: 1rem;
  }

  .tutorial_step_content{
    font-size: 0.8rem;
  }

  img{
    width: 156px; 
    height: 107px;
  }

  .tutorial_controlls img{
    width: 22px !important;
    height: 22px !important;
  }
}



.tutorial_controlls{
  display: flex;
  position: absolute;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  align-content: space-between;
  align-items: center;
}

.tutorial_controlls_right{
  position: absolute;
  cursor: pointer;
  right: 2rem;
}
.tutorial_controlls_left{
  position: absolute;
  cursor: pointer;
  left: 2rem;
}

.tutorial_controlls_left:hover{
  cursor: pointer;
}

.tutorial_controlls img{
  width: 44px;
  height: 44px;
  transition: width 0.3s ease-out;
  transition: height 0.3s ease-out;
  transform-origin:  center;
}

.tutorial_controlls img:hover {
  width: 64px;
  height: 64px;
  transition: width 0.3s ease-out;
  transition: height 0.3s ease-out;
}

.tutorial_finish_btn{
  padding: 1rem;
  
  cursor: pointer;
  background-color: var(--main_accent_color);
  color: #ffffff;
  border-radius: 2000px;
  box-shadow: 7px 7px 11px -6px rgba(0,0,0,0.31);
  transition: box-shadow 0.2s ease-in;
  border: none;
  margin: 0px auto;
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
}

.tutorial_finish_btn:focus{
  outline: none;
}

.tutorial_finish_btn:hover {
  
  box-shadow: 11px 13px 11px -6px rgba(0,0,0,0.31);
  transition: box-shadow 0.2s ease-out;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 97%}
  50%{background-position:100% 4%}
  100%{background-position:0% 97%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 97%}
  50%{background-position:100% 4%}
  100%{background-position:0% 97%}
}
@keyframes AnimationName { 
  0%{background-position:0% 97%}
  50%{background-position:100% 4%}
  100%{background-position:0% 97%}
}